n8n chatbot.json
{
  "name": "n8n Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        304,
        -96
      ],
      "id": "webhook-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Extract Prompt Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        528,
        -96
      ],
      "id": "set-node"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"{{$json.body.body.text}}\" \n        }\n      ]\n    }\n  ],\n  \"systemInstruction\": {\n    \"parts\": [\n      {\n        \"text\": \"You are a friendly, concise, and helpful general-purpose chatbot. Respond directly and politely to the user's input.\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        704,
        -96
      ],
      "id": "http-request-node"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "finalResponse",
              "value": "={{$json.candidates[0].content.parts[0].text}}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "name": "Extract Chat Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        912,
        -96
      ],
      "id": "extract-set-node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"finalResponse\": \"{{$json.finalResponse}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        -96
      ],
      "id": "respond-node",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Prompt Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Extract Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prompt Text": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}